.App {
  font-size: 12px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  text-align: center;
  font-size: 24px;
  padding-top: 20px;
  color: white;
}

.App-link {
  color: #09d3ac;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.content-area {
  padding: 40px;
  flex: 1;
  width: 100%;
  min-width: 300px;
  border: 1px solid #AAA;
}

.create-equipment-container {
  width: 100%;
}

.create-label, .create-input {
  width: 80%;
  display: block;
  margin: 5px 0;
}


.search-form > input, .search-form > label {
  width: 50%;
  display: block;
  margin: 5px 0;
}